.book-details .book-cover {
  height: 200px;
  background-position: center; 
  background-repeat: no-repeat;
  background-size: auto;
}
.book-details .card {
  transition: 0.5s;
}

.book-details .card > a > .container {
  padding: 2px 16px;
  min-height: 160px;
  color: white;
}

.book-details .card:hover {
  box-shadow: 0 0 12px #adaeffab;
}

.book-details a:link {
  text-decoration: none;
}

.book-details .truncate-text {
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}














