.bg-image {
  height: 200px;
  background-position: center; 
  background-repeat: no-repeat;
  background-size: auto;
}
.card {
  transition: 0.3s;
}

.card > a > .container {
  text-decoration: none !important;
  padding: 2px 16px;
  min-height: 160px;
  color: white;
}

.card:hover {
  box-shadow: 5px 5px #adaeffab;
}

a:link {
  text-decoration: none;
}
.truncate {
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}




/* {
  imageLinks ? imageLinks.thumbnail : "https://via.placeholder.com/150"
} */