.search-input form {
    padding: 20px;
  }

.search-input .normal-class {
  display: block;
  width: 40%;
  margin: auto;
  text-align: left;
}

.search-input .error-class {
  display: block;
  width: 40%;
  margin: auto;
  text-align: left;
  color: red;
}