body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:  #00013a;
}

.App {
  background: #00013a;
  margin: 10px auto;
  width: 100%;
  /* max-width: 800px; */
  color: #eee;
}

.navbar {
  padding: 10px 20px;
  text-align: center;
  background: #6d3d6d
}

.navbar h1 {
  margin: 10px 0px;
}

/* .flex-container {
  display: flex;
  flex-wrap: nowrap;
}

.flex-container > div {
  margin: 10px;
  width: 30%;
  padding: 20px;
  font-size: 20px;
}
.flex-container > div:nth-child(3) >span {
  color: red;
  cursor: pointer;
}
.flex-container > div:nth-child(3)>span:hover{
  background-color: red;
  color: white;
  border-radius: 5px;
} */
.book-list {
  margin:  20px;
}

.book-list ul {
  padding: 0;
  list-style-type: none;
}

.book-list li {
  background: #6d3d6d;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
  margin: 10px 0;
}

.book-list li:hover {
  opacity: 0.2;
  text-decoration: line-through;
}

.book-list .title {
  font-weight: bold;
  color: #fff;
  font-size:  1.7em;
}

.book-list .author {
  font-size: 1.2em;
  color: #ddd;
}
.empty {
  margin: 30px;
  text-align: center;
  font-size: 1.2em;
}

form {
  padding: 20px;
}

input[type='text'] {
width: 40%;
padding: 10px;
box-sizing: border-box;
margin: 6px 0;
background: #adafff;
color: #00013a;
border: 0;
}

button[type='submit'] {
  margin: 10px auto;
  background: #adafff;
  border: 0;
  padding: 6px 20px;
  display: block;
  cursor: pointer;
  font-size: 1.1em;
}

.books-list {
  display: flex;
  margin-top: 20px;
  flex-wrap: wrap;
  /* justify-content: center; */
  
}

.book {
  width: 28%;
  padding: 0 15px;
  margin: 30px auto;
}

.card {
  box-shadow: 6px 11px #adaeff1f;
  transition: 0.3s;
  /* width: 40%; */
}
.card >img{
  width: 100%;
  height: 400px;
}
.card>a>.container {
  text-decoration: none!important;
  padding: 2px 16px;
  min-height: 160px;
  color: white;
}

a:link {
  text-decoration: none;
}

.card:hover {
  box-shadow: 5px 10px #adaeffab;
}